// Colors
$primary-color: #4444AC;
$stepper-color: #4f39f7;
$border-color: #bcbcbc;
$border-color-focus: #2563eb;

// Fonts
$logo-font: "Archivo Black", sans-serif;
$main-font-family: "Roboto", sans-serif;
